<h1 class="mx-auto text-center">{{user.username}}'s Dashboard</h1>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <ul class="list-group list-group-flush recipeList">
                    {{#if recipe}}
                    {{#each recipe}}
                    <a href="/recipes/showcase/{{name}}" class="list-group-item"><li>{{name}}</li></a>
                    {{/each}}
                    {{else}}
                    <li class="list-group-item">You have no recipes</li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card mb-5">
            <div class="card-header">
            Following
            </div>
            <ul class="list-group list-group-flush recipeList">
                {{#if user.following}}
                {{#each user.following}}
                <a href="/profile/{{_id}}" class="list-group-item"><li>{{username}}</li></a>
                {{/each}}
                {{else}}
                <li class="list-group-item">You are not following anyone</li>
                {{/if}}
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                Something else will go here
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card mb-5">
            <div class="card-header">
            Followers
            </div>
            <ul class="list-group list-group-flush recipeList">
                {{#if user.followers}}
                {{#each user.followers}}
                <a href="/profile/{{_id}}" class="list-group-item"><li>{{username}}</li></a>
                {{/each}}
                {{else}}
                <li class="list-group-item">No followers</li>
                {{/if}}
            </ul>
        </div>
    </div>
</div>





