{{!-- <h2 class="mx-auto text-center page-title mb-5">{{user.username}}'s Dashboard</h2> --}}
<div class="row">
    <div class="col-md-8">
        <div class="card mb-5">
            <div class="card-body p-0">
              <div class="card-header text-center">
            Recipes
            </div>
                <ul class="list-group list-group-flush recipeList">
                    {{#if recipe}}
                    {{#each recipe}}

                  <li class="list-group-item list-group-item-action d-flex p-0">
                    <a href="/recipes/showcase/{{name}}" class="list-group-item-action d-flex">
                      {{#if image.url}}
                      <img src="{{image.url}}" alt="" class="recipe-thumb">
                      {{else}}
                      <img src="../public/placeholder.png" class="recipe-thumb" alt="...">
                      {{/if}}
                     <p class="ml-3 align-self-center mb-0">{{name}}</p>
                    </a>
                    <div class='d-flex flex-column justify-content-center dashboardBtnContainer'>
                      <a href="/recipes/edit/{{id}}" class="btn"><i class="fa fa-pencil" ></i></a>
                      <a href="#" data-toggle="modal" data-target="#del{{id}}" class="btn"><i class="fa fa-trash"></i></a>
                    </div>  
                  </li>

                    <!-- Confirm Delete Modal -->
<div class="modal fade" id="del{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you really want to delete "{{name}}"?  This action cannot be undone.
      </div>
      <div class="modal-footer">   
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="/recipes/{{id}}?_method=DELETE" method="post">
          <button type="submit" class="btn btn-danger">Confirm
          </button>
        </form> 
      </div>
    </div>
  </div>
</div>
                    {{/each}}
                    {{else}}
                    <li class="list-group-item text-center">To get started, add a recipe with the green button in the bottom right of the screen</li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-5">
            <div class="card-header text-center">
            Following
            </div>
            <ul class="list-group list-group-flush recipeList">
                {{#if user.following}}
                {{#each user.following}}
                <a href="/profile/{{_id}}" class="list-group-item list-group-item-action">{{username}}</a>
                {{/each}}
                {{else}}
                <li class="list-group-item">You are not following anyone</li>
                {{/if}}
            </ul>
        </div>
                <div class="card mb-5">
            <div class="card-header text-center">
            Followers
            </div>
            <ul class="list-group list-group-flush recipeList">
                {{#if user.followers}}
                {{#each user.followers}}
                <a href="/profile/{{_id}}" class="list-group-item list-group-item-action"><li>{{username}}</li></a>
                {{/each}}
                {{else}}
                <li class="list-group-item">No followers</li>
                {{/if}}
            </ul>
        </div>
    </div>
</div>

<div class="row">
    {{!-- <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                Something else will go here
            </div>
        </div>
    </div> --}}

    <div class="col-md-3 ml-auto">

    </div>
</div>





