<div class="favoriteContainer">
<div class="row recipeRow">
  {{#if user.favorites}}
{{#each user.favorites}}

  <div class="col-md-6 col-lg-4 mb-4"> 
    <div class="card recipeDisplay">
      <div class="buttonContainer d-none w-100">
        
        <!--View Btn-->
        <a href="#" data-toggle="modal" data-target="#{{static._id}}" class="btn btn-primary"><i class="fa fa-eye"></i></a>

        <!--Edit Btn-->
        <!-- privateEdit user ../user/id id -->
        
        <!-- Remove Favorite Btn -->
        <a href="#" data-toggle="modal" data-target="#remove{{static._id}}" class="btn btn-danger ml-auto"><i class="fa fa-trash"></i></a>
        
      </div>  

      {{#if static.image.url}}
      <img src="{{static.image.url}}" class="card-img-top" alt="...">
      {{else}}
      <img src="/public/healthyCoverPhoto.jpg" class="card-img-top" alt="...">
      {{/if}}

      <div class="card-body">
        <p class="card-text"><a href="/recipes/showcase2/{{static._id}}">{{static.name}}</a></p>
        <p class="card-text"><small class="text-muted">By: <a href="/profile/{{static.userId}}">{{static.username}}</a> <a href="/follow/{{static.userId}}"><i class="fa fa-user-plus"></i></a></small></p>
      </div>
    </div>
  </div>
{{/each}}
</div>

{{#each user.favorites}}
<!-- Preview Modal -->
<div class="modal fade" id="{{static._id}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{static.name}} <button type="button" class=' ml-3 btn btn-sm btn-success updateBtn'>Check for updates</button></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body static">
        {{{arrayLoop static.ingredients.quantity static.ingredients.measurement static.ingredients.name}}}
      </div>
      <div class="modal-body live d-none">
        {{#if live}}
        {{{arrayLoop live.ingredients.quantity live.ingredients.measurement live.ingredients.name}}}
        {{else}}
        <p>The original recipe has been deleted...keep this favorite safe or it will be lost forever!</p>
        {{/if}}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Confirm Remove favorite Modal -->
<div class="modal fade" id="remove{{static._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you really want to remove "{{static.name}}" from favorites?  If {{static.username}} deletes this recipe from their cookbook, you will not be able to find it again.
      </div>
      <div class="modal-footer">   
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a href="/recipes/favorites/{{static._id}}" class="btn btn-danger">Confirm
          </a>
      </div>
    </div>
  </div>
</div>
{{/each}}
{{else}}
<div class="card w-75 mx-auto"> 
<div class="card-body text-center">
  You have no favorites
</div>
</div>
{{/if}}
</div>



<script src='/public/favorites.js'></script>
<script src='/public/button-js.js'></script>






