<h1 class="mx-auto text-center">{{profile.username}}'s Profile</h1>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <ul class="list-group list-group-flush recipeList">
                    {{#if recipe}}
                    {{#each recipe}}
                    <a href="/recipes/showcase/{{this.name}}" class="list-group-item"><li >{{this.name}}</li></a>
                    {{/each}}
                    {{else}}
                    <li>{{profile.username}} has no recipes</li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>








