<div class="row">
    <div class="mx-auto">
        <div class="card card-body">
            <h3 class="text-center">Edit Recipe</h3>
            <form method="post" action="/recipes/{{recipe.id}}?_method=PUT" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="recipeName">Recipe Name</label>
                    <input name="recipeName" value="{{recipe.name}}" type="text" class="form-control" disabled>
                </div>

                {{!-- <div class="form-group mt-5">
                    <label for="image">Upload an Image (you can leave blank and upload later)</label>
                    <br>
                      <input type='file' name='image' />
                </div> --}}

                <div class="container d-flex mt-5 justify-content-center">
                <h3 class="text-center">Ingredients</h3> 
                <button type="button" class="btn btn-success ml-2" style="height: 38px">
                    <i class="fa fa-plus addIngredientBtn"></i>
                </button>
                </div>
                
<!--STATIC Ingredient-->
                <div class="ingredientContainer">
                    <div class="form-row">
                        <div class="form-group col-2">
                            <label for="quantity">Quantity</label>
                            <input name="quantity" type="number" class="form-control" value="{{recipe.ingredients.quantity.[0]}}">
                        </div>
                        <div class="form-group col-3">
                            <label for="measurement">Measurement</label>
                            <select name="measurement" class="custom-select measurement">
                                <option selected >{{recipe.ingredients.measurement.[0]}}</option>
                                <option value="Drop">Drop</option>
                                <option value="Tsp">Tsp</option>
                                <option value="Tbsn">Tbsn</option>
                                <option value="Oz">Oz</option>
                                <option value="Lb">Lb</option>
                                <option value="Package">Package</option>
                                <option value="Stick">Stick</option>
                                <option value="Can">Can</option>
                                <option value="Jar">Jar</option>
                                <option value="Cup">Cup</option>
                                <option value="Pint">Pint</option>
                                <option value="Qt">Qt</option>
                                <option value="Gal">Gal</option>
                                <option value="ML">ML</option>
                                <option value="L">L</option>
                                <option value="Pinch">Pinch</option>
                                <option value="Piece">Piece</option>
                            </select>
                        </div>
                        <div class="form-group col-5">
                            <label for="ingredient">Ingredient</label>
                            <input name="ingredient" type="text" class="form-control" value="{{recipe.ingredients.name.[0]}}">
                        </div>
                        <div class="form-group col-1 d-flex"></div>
                    </div>

            {{{populateFormIngredients recipe.ingredients.quantity recipe.ingredients.measurement recipe.ingredients.name}}}


                </div>
<!--STATIC DIRECTION-->
<div class="container mt-5 d-flex justify-content-center">
                <h3 class="text-center">Instructions</h3>
                <button type="button" class="btn btn-success ml-2" style="height: 38px">
                        <i class="fa fa-plus addInstructionBtn"></i>
                </button>
                </div>
                <div class="instructionContainer">
                    <div class="form-row">
                        <div class="form-group col-10">
                            <label for="inlineFormInputGroup">Directions</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text steps">Step 1</div>
                                </div>
                                <input name="step" type="text" class="form-control" id="inlineFormInputGroup" value="{{recipe.instructions.[0]}}">
                            </div>
                        </div>
                        <div class="form-group col-1 d-flex">
                            
                        </div>
                    </div>
{{{populateFormSteps recipe.instructions}}}


                </div>
                <input type="submit" value="Submit" class="btn btn-primary mt-5">
            </form>
        </div>
    </div>
</div>
<script src='/public/custom-js.js'></script>
