<div class="row">
    <div class="mx-auto">
        <div class="card card-body">
            <h3 class="text-center">Edit Recipe</h3>
            <form method="post" action="/recipes/{{recipe.id}}?_method=PUT" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="recipeName">Recipe Name</label>
                    <input name="recipeName" value="{{recipe.name}}" type="text" class="form-control" disabled>
                </div>

                <div class="form-group mt-5">
                    <label for="image">Upload an Image <span class="placeholderSpan"> (a placeholder will be used if you would like to upload a photo later)</span></label>
                    <br>
                      <input type='file' name='image' />
                </div>
              



                <div class="container d-flex mt-5 justify-content-center">
                <h3 class="text-center">Ingredients</h3> 
                <button type="button" class="btn btn-success ml-2 addIngredientBtn" style="height: 38px">
                    <i class="fa fa-plus"></i>
                </button>
                </div>
                
<!--STATIC Ingredient-->
                <div class="ingredientContainer">
                    <div class="form-row">
                        <div class="form-group col-2">
                            <label for="quantity" class="mobileLabel">Quantity</label>
                            <input name="quantity" type="number" step="0.01" class="form-control" value="{{recipe.ingredients.quantity.[0]}}">
                        </div>
                        <div class="form-group col-3">
                            <label for="measurement" class="mobileLabel">Measurement</label>
                            <select name="measurement" class="custom-select measurement">
                                <option selected >{{recipe.ingredients.measurement.[0]}}</option>
                                <option value="tsp.">tsp.</option>
                                <option value="tbsp.">tbsp.</option>
                                <option value="oz">oz</option>
                                <option value="cups">cups</option>
                                <option value="pints">pints</option>
                                <option value="quarts">quarts</option>
                                <option value="gallons">gallons</option>
                                <option value="mL">mL</option>
                                <option value="L">L</option>
                                <option value="lb">lb</option>
                                <option value="box">box</option>
                                <option value="leaves">leaves</option>
                                <option value="ears">ears</option>
                                <option value="bunches">bunches</option>
                                <option value="whole">whole</option>
                                <option value="jars">jars</option>
                                <option value="bags">bags</option>
                                <option value="drops">drops</option>
                                <option value="pinches">pinches</option>
                                <option value="sticks">sticks</option>
                                <option value="sprigs">sprigs</option>
                                <option value="cans">cans</option>
                                <option value="jars">jars</option>
                                <option value="pieces">pieces</option>
                            </select>
                        </div>
                        <div class="form-group col-5">
                            <label for="ingredient" class="mobileLabel">Ingredient</label>
                            <input name="ingredient" type="text" class="form-control" value="{{recipe.ingredients.name.[0]}}">
                        </div>
                        <div class="form-group col-1 d-flex"></div>
                    </div>

            {{{populateFormIngredients recipe.ingredients.quantity recipe.ingredients.measurement recipe.ingredients.name}}}


                </div>
<!--STATIC DIRECTION-->
<div class="container mt-5 d-flex justify-content-center">
                <h3 class="text-center">Instructions</h3>
                <button type="button" class="btn btn-success ml-2 addInstructionBtn" style="height: 38px">
                        <i class="fa fa-plus"></i>
                </button>
                </div>
                <div class="instructionContainer">
                    <div class="form-row">
                        <div class="form-group col-10">
                            <label for="inlineFormInputGroup">Directions</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text steps">Step 1</div>
                                </div>
                                <input name="step" type="text" class="form-control" id="inlineFormInputGroup" value="{{recipe.instructions.[0]}}">
                            </div>
                        </div>
                        <div class="form-group col-1 d-flex">
                            
                        </div>
                    </div>
{{{populateFormSteps recipe.instructions}}}


                </div>
                <input type="submit" value="Save Changes" class="btn btn-secondary mt-5">
            </form>
        </div>
    </div>
</div>
<script src='/public/custom-js.js'></script>
