<div class="row recipeRow">
{{#if recipes}}
{{#each recipes}}

<a href="/recipes/showcase/{{name}}">  
<div class="col-md-6 col-lg-4 mb-1"> 
    <div class="card recipeDisplay">
      <div class="buttonContainer w-100">
        <!--View Btn-->
        {{!-- <a href="#" data-toggle="modal" data-target="#{{id}}" class="btn btn-primary"><i class="fa fa-eye"></i></a> --}}
        
        {{!-- <!--Edit Btn-->
        {{{privateEdit userId ../user/id id}}}
        
        <!--Delete Btn-->
        {{{privateDelete userId ../user/id id}}} --}}
        
        <!-- Favorite Btn -->
        {{!-- {{#if ../user}}
        <a href="/recipes/{{id}}" class="btn btn-light ml-auto"><i class="fa fa-star"></i></a>
        {{/if}} --}}
      </div>
      {{#if image.url}}
      <img src="{{image.url}}" class="card-img-top" alt="...">
      {{else}}
      <img src="../public/placeholder.png" class="card-img-top" alt="...">
     
      {{/if}}
       </a>


{{!-- THIS IS WHAT IM DOING --}}

      <div class="card-body pt-0 pr-0">
        <div class="d-flex justify-content-end">
        <a href="#" data-toggle="modal" data-target="#{{id}}" class="btn"><i class="fa fa-eye"></i></a>
        {{#if ../user}}
        <a href="/recipes/{{id}}" class="btn"><i class="fa fa-star"></i></a>
                {{/if}}
      </div>
        <p class="card-text"><a href="/recipes/showcase/{{name}}">{{name}}</a></p>
        <p class="card-text"><small class="text-muted w-100 d-flex mr-">By: <a href="/profile/{{userId}}" class="ml-1">{{username}}</a><a href="/follow/{{userId}}" class="follow ml-auto mr-3">Follow <i class="fa fa-user-plus"></i>
        </a></small></p>
      </div>
      
    </div>
  </div>
  

{{/each}}
</div>

{{#each recipes}}
<!-- Preview Modal -->
<div class="modal fade" id="{{_id}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{{arrayLoop ingredients.quantity ingredients.measurement ingredients.name}}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Confirm Delete Modal -->
{{!-- <div class="modal fade" id="del{{_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you really want to delete "{{name}}"?  This action cannot be undone.
      </div>
      <div class="modal-footer">   
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="/recipes/{{_id}}?_method=DELETE" method="post">
          <button type="submit" class="btn btn-danger">Confirm
          </button>
        </form> 
      </div>
    </div>
  </div>
</div> --}}
{{/each}}
{{else}}
<div class="card w-75 mx-auto"> 
<div class="card-body text-center">
  To get started, add a recipe with the green button in the bottom right of the screen
</div>
</div>




{{/if}}










