
<div class="card">
    <div class="card-header d-flex"><a href="/recipes/{{recipe.id}}" class="btn mr-3"><i class="fa fa-star" style="color: gold"></i></a><h4 class="showcaseTitle">{{recipe.name}}</h4>  <a href="/profile/{{recipe.userId}}" class="btn ml-4 showcaseUser">More from {{recipe.username}}</a>
    
{{!-- <div class="ml-auto">
<a href="/profile/{{recipe.userId}}" class="ml-auto"><button class="btn btn-primary">More from {{recipe.username}}</button></a>    
</div> --}}
</div>

    <div class="card-body pt-4">
        <div class="row">
            <div class="col-md-3 whatINeed">
                <h5 class="text-center mb-3">What you need</h5>
                    {{{arrayLoop recipe.ingredients.quantity recipe.ingredients.measurement recipe.ingredients.name}}}
            </div>
            <div class="col-md-9">
                <h5 class="text-center mb-3">What to do</h5>
                <ol>
                    {{#each recipe.instructions}}
                    <li class="ml-5">{{this}}</li>
                    {{/each}}
                </ol>
            </div>
        </div>
        <hr>
        {{!-- <div class="row">
            <div class="col-md-12 text-center">
                <h5>What I think</h5>           
                Notes will go here
            </div>
        </div> --}}
    </div>
</div>