<div class="card">
    <div class="card-header d-flex"><h4 class="showcaseTitle">{{recipe.static.name}}</h4><a href="/profile/{{recipe.static.userId}}" class="btn ml-4 showcaseUser">More from {{recipe.static.username}}</a>
    
<div class="ml-auto">   
<button class="btn btn-secondary updateBtn ml-auto">Check for updates</button></div>
</div>
   

    <div class="card-body pt-4 static">
        <div class="row">
            <div class="col-md-4 whatINeed">
                <h5 class="text-center mb-3">What you need</h5>
                <div>
                    {{{arrayLoop recipe.static.ingredients.quantity recipe.static.ingredients.measurement recipe.static.ingredients.name}}}
                </div>

            </div>
            <div class="col-md-8">
                <h5 class="text-center mb-3">What to do</h5>
               
                <ol>
                    {{#each recipe.static.instructions}}
                    <li>{{this}}</li>
                    {{/each}}
                </ol>
                
            </div>
        </div>
        <hr>
        {{!-- <div class="row">
            <div class="col-md-12 text-center">
                <h5>What I think</h5>
                Notes will go here
            </div>
        </div> --}}
    </div>

    
        <div class="card-body live d-none">
            {{#if recipe.live}}
        <div class="row">
            <div class="col-md-3 whatINeed">
                <h5 class="text-center mb-3">What you need</h5>
                    {{{arrayLoop recipe.live.ingredients.quantity recipe.live.ingredients.measurement recipe.live.ingredients.name}}}
            </div>
            <div class="col-md-9">
                <h5 class="text-center mb-3">What to do</h5>
                <ol>
                    {{#each recipe.live.instructions}}
                    <li class="ml-5">{{this}}</li>
                    {{/each}}

                </ol>
            </div>
        </div>
        <hr>
        {{!-- <div class="row">
            <div class="col-md-12 text-center">
                <h5>What I think</h5>
                Notes will go here
            </div>
        </div> --}}
            {{else}}
            <p>The original recipe has been deleted...keep this favorite safe!</p>
            {{/if}}
    </div>

</div>
        {{#if user}}
            <a href="/recipes/add" class="btn btn-lg btn-info addRecipeFloat">Create a Recipe</a>
        {{/if}}


<script src='/public/favorites.js'></script>